@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CA_Proj.ViewModels.HistoryOrderViewModel>
@{
	ViewData["Title"] = "History Order";
}
<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<p>History Order</p>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<ul>
						<li>
							@Html.ActionLink("Home","Index","Product")&nbsp; >
						</li>
						<li>History Order</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ck title wrapper End -->
<!--CheckOut Page-->
<div class="checkout-page">
	<div class="container">
		<!--Checkout Details-->
		<!--End Checkout Details-->
		<div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
			<h2><strong>History Order List </strong></h2>
		</div>

		<!--Order Box -->
		@if (Model == null || !Model.Any())
		{
			<div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
				<h2>Oops...</h2>
				<a>&nbsp;</a>
				<h1>It seems that you have no purchases yet.</h1>
			</div>
		}
		else
		{
			@foreach (var historyOrder in Model)
			{
				<div class="order-box">
					<div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
						<h2>Order #@historyOrder.PurchaseId </h2>
						<h1>Create on @historyOrder.Purchase.CreateTime</h1>
					</div>
					<div class="title-box">
						<div class="col">PRODUCT</div>
						<div class="col">NUMBER</div>
						<div class="col">TOTAL</div>
						<div class="col">ACTIVATION CODE</div>
					</div>
					<ul>
						@foreach (var purchase in historyOrder.Products)
						{
							var ppQuantity = purchase.ActivationCodes.Count();
							<li class="clearfix">
								<figure>
									<img src=@purchase.Product.ProductImage alt="product img" style="width: 100px" />
								</figure>
								<strong>
									@purchase.Product.ProductName
								</strong>
								<span>X @ppQuantity</span>
								@if (ppQuantity > 1)
								{
									SelectList selectlist = new SelectList(purchase.ActivationCodes, "activationCodes"); 
									<span>
										<select asp-items=@selectlist>
											<option>Your Activation Codes</option>
										</select>
									</span>
								}
								else
								{
									var enumerator = purchase.ActivationCodes.GetEnumerator();
									enumerator.MoveNext();
									<span>
										@enumerator.Current
									</span>
								}
								<span>
									$
									@{
										var price = @purchase.Product.ProductPrice * @ppQuantity;
									}
									@price
								</span>
								<span>&nbsp;</span>
								<span>&nbsp;</span>
								@{
									var customerHaveNotCommentYet = (purchase.CustomerComment == null || purchase.CustomerComment.Trim().Length == 0);
									var customerHaveNotRatedYet = purchase.CustomerRating.Equals(0.0);
								}
								@* Not Rated & Not Commented *@
								@switch (customerHaveNotRatedYet)
								{
									case true when customerHaveNotCommentYet:
										<form asp-controller="Order" asp-action="RateAndComment" method="post">
											<span class="st_profile_input">
												<input name="comments" placeholder="Input Your Comment..." />
											</span>
											<span class="ck_elem_star">
												<a>Your Rating :</a>
											</span>
											<span class="ck_elem_star">
												<select name="rates">
													<option value="1">1.0</option>
													<option value="1.5">1.5</option>
													<option value="2.0">2.0</option>
													<option value="2.5">2.5</option>
													<option value="3.0">3.0</option>
													<option value="3.5">3.5</option>
													<option value="4.0">4.0</option>
													<option value="4.5">4.5</option>
													<option value="5.0">5.0</option>
												</select>
											</span>
											<span class="ck_offer_btn ck_offer_btn_inner float_left">
												<button type="submit" class="btn-lg" name="whichBtn" value="comment">Comment</button>
											</span>
											<span class="float_left">
												<button type="submit" class="btn-lg" name="whichBtn" value="star">Star</button>
											</span>
											<input hidden="" name="purchaseId" value=@purchase.PurchaseId />
											<input hidden="" name="productId" value=@purchase.ProductId />
										</form>
										break;
									// Not Commented
									case false when customerHaveNotCommentYet:
										<form asp-controller="Order" asp-action="RateAndComment" method="post">
											<span class="st_profile_input">
												<input name="comments" placeholder="Input Your Comment..." />
											</span>
											<span class="ck_elem_star">
												<a>Your Rating :</a>
											</span>
											<span class="ck_elem_star">
												@{
													var stars = (int)purchase.CustomerRating;
													for (var star = 0; star < stars; ++star)
													{
														<i class="fas fa-star"></i>
													}
													if (purchase.CustomerRating - stars >= 0.5)
													{
														<i class="fas fa-star-half"></i>
													}
												} 
											</span>
											<span class="ck_offer_btn ck_offer_btn_inner float_left">
												<button type="submit" class="btn-lg" name="whichBtn" value="comment">Comment</button>
											</span>
											<span>&nbsp;</span>
											<input hidden="" name="purchaseId" value=@purchase.PurchaseId />
											<input hidden="" name="productId" value=@purchase.ProductId />
										</form>
										break;
									// Not Rated
									case true when !customerHaveNotCommentYet:
										<span class="st_profile_input" style="height: 40px;">
											<h5>Your Comment: </h5>
											<h6>@purchase.CustomerComment</h6>
										</span>
										<span class="ck_elem_star">
											<a>Your Rating :</a>
										</span>
										<form asp-controller="Order" asp-action="RateAndComment" method="post">
											<span class="ck_elem_star">
												<select name="rates">
													<option value="1">1.0</option>
													<option value="1.5">1.5</option>
													<option value="2.0">2.0</option>
													<option value="2.5">2.5</option>
													<option value="3.0">3.0</option>
													<option value="3.5">3.5</option>
													<option value="4.0">4.0</option>
													<option value="4.5">4.5</option>
													<option value="5.0">5.0</option>
												</select>
											</span>
											<span>&nbsp;</span>
											<span class="float_left">
												<button type="submit" class="btn-lg" name="whichBtn" value="star">Star</button>
											</span>
											<input hidden="" name="purchaseId" value=@purchase.PurchaseId />
											<input hidden="" name="productId" value=@purchase.ProductId />
										</form>
										break;
									// Rated & Commented
									default:
									{
										<span class="st_profile_input" style="height: 40px;">
											<h5>Your Comment: </h5>
											<h6>@purchase.CustomerComment</h6>
										</span>
										<span class="ck_elem_star">
											<a>Your Rating :</a>
										</span>
										<span class="ck_elem_star">
											@{
												var starsS = (int)purchase.CustomerRating;
												for (var star = 0; star < starsS; ++star)
												{
													<i class="fas fa-star"></i>
												}
												if (purchase.CustomerRating - starsS >= 0.5)
												{
													<i class="fas fa-star-half"></i>
												}
											} 
										</span>
										break;
									}
								}
							</li>
						}
						<li class="clearfix">
							TOTAL<span>$ @historyOrder.Purchase.TotalPrice</span>
						</li>
					</ul>
				</div>
			}
		}
		<!--End Order Box -- Repetition Ends Here -->
	</div>
</div>