@model IEnumerable<CA_Proj.Models.Product>

@{
	ViewData["Title"] = "Gallery Page";
}

<!-- ck title wrapper End -->
<!-- btc Shop Wrapper Start -->
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ProductId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductDescription)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductImage)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductPrice)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductDownloadLink)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductOverallRating)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductKeywords)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProductQuantitySold)
		</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProductId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductImage)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductPrice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductDownloadLink)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductOverallRating)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductKeywords)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductQuantitySold)
			</td>
		</tr>
	}
	</tbody>
</table>
<div class="btc_shop_indx_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="ck_prod_filter_main_box_wrapper">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="gc_shop_indx_search_box_wrapper">
								<div class="gc_shop_indx_search_box">
									<p><span>Showing 1-9</span> of 256 Results</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-12">
							<div class="gc_shop_indx_view_tabs_wrapper">
								<div class="gc_shop_indx_view_tabs">
									<ul class="nav nav-tabs">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#menu1">
												<i class="flaticon-menu"></i>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#menu2"><i class="flaticon-list"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="gc_shop_indx_select_box_wrapper">
								<div class="gc_causes_select_box">
									<select>
										<option>Sort Default</option>
										<option>Sort Default</option>
										<option>Sort Default</option>
									</select><i class="fa fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="tab-content">
							<div id="menu1" class="tab-pane active">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e1.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e2.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e3.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e4.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e5.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e6.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e7.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e8.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="images/e9.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
										<div class="pager_wrapper">
											<ul class="pagination">
												<li>
													<a href="#"><i class="flaticon-left-arrow"></i></a>
												</li>
												<li class="btc_shop_pagi">
													<a href="#">01</a>
												</li>
												<li class="btc_shop_pagi">
													<a href="#">02</a>
												</li>
												<li class="btc_third_pegi btc_shop_pagi">
													<a href="#">03</a>
												</li>
												<li class="hidden-xs btc_shop_pagi">
													<a href="#">04</a>
												</li>
												<li>
													<a href="#"><i class="flaticon-right-arrow"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="menu2" class="tab-pane fade">
								<div class="row">
									<div class="col-md-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner ck_elem_slide_img_wrapper_inner_list float_left">
											<div class="ck_elem_slide_img ck_elem_slide_img_list float_left align-self-center">
												<img src="images/e1.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner ck_elem_slide_img_list_cont float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner ck_elem_slide_img_wrapper_inner_list float_left">
											<div class="ck_elem_slide_img ck_elem_slide_img_list float_left align-self-center">
												<img src="images/e2.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner ck_elem_slide_img_list_cont float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner ck_elem_slide_img_wrapper_inner_list float_left">
											<div class="ck_elem_slide_img ck_elem_slide_img_list float_left align-self-center">
												<img src="images/e3.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner ck_elem_slide_img_list_cont float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner ck_elem_slide_img_wrapper_inner_list float_left">
											<div class="ck_elem_slide_img ck_elem_slide_img_list float_left align-self-center">
												<img src="images/e4.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner ck_elem_slide_img_list_cont float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner ck_elem_slide_img_wrapper_inner_list float_left">
											<div class="ck_elem_slide_img ck_elem_slide_img_list float_left align-self-center">
												<img src="images/e5.png" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner ck_elem_slide_img_list_cont float_left">
												<h3>Cherry Vanilla</h3>
												<div class="ck_elem_star">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>Aenean sollicitudin, lorem quis</p>
												<h5>$ 10.00</h5>
												<div class="ck_offer_btn ck_offer_btn_inner float_left">
													<a href="#">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="pager_wrapper float_left">
											<ul class="pagination">
												<li>
													<a href="#"><i class="flaticon-left-arrow"></i></a>
												</li>
												<li class="btc_shop_pagi">
													<a href="#">01</a>
												</li>
												<li class="btc_shop_pagi">
													<a href="#">02</a>
												</li>
												<li class="btc_third_pegi btc_shop_pagi">
													<a href="#">03</a>
												</li>
												<li class="hidden-xs btc_shop_pagi">
													<a href="#">04</a>
												</li>
												<li>
													<a href="#"><i class="flaticon-right-arrow"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- btc Shop Wrapper End -->
<!-- cll wrapper Start-->
<div class="ck_call_main_wrapper float_left">
	<div class="container">
		<div class="ck_cll_left_wrapper">
			<div class="ck_cll_icon align-self-center">
				<i class="flaticon-phone-contact"></i>
				<h4>Call Us</h4>
				<p>+91 907 474 4316</p>
			</div>
			<div class="ck_cll_img">
				<img src="images/cll_img.png" alt="img">
			</div>
		</div>
		<div class="ck_cll_right_wrapper">
			<div class="cl_cll_form">
				<input type="text" placeholder="Your Email">
				<button>Subscribe</button>
			</div>
		</div>
	</div>
</div>
<!-- cll wrapper End-->
<!-- partner wrapper Start-->
<div class="ck_partner_inner_main_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="ck_inner_heading_wrapper float_left">
					<h4>Our Partners</h4>
					<h3>Partners Words</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="lr_prt_slider_wrapper">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p1.jpg" alt="partner_img">
							</div>
						</div>
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p2.jpg" alt="partner_img">
							</div>
						</div>
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p3.jpg" alt="partner_img">
							</div>
						</div>
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p4.jpg" alt="partner_img">
							</div>
						</div>
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p5.jpg" alt="partner_img">
							</div>
						</div>
						<div class="item">
							<div class="lr_prt_img_wrapper">
								<img src="images/p6.jpg" alt="partner_img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- partner wrapper End-->
<div class="footer_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12 col-sm-12">
				<div class="footer_widget footer_about_wrapper float_left">
					<div class="wrapper_first_image">
						<a href="index.html">
							<img src="images/logo.png" class="img-responsive" alt="logo" />
						</a>
					</div>
					<div class="abotus_content">
						<p>
							Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
							<br>
							<br>Vestibulum id ligula porta felis euismod semper. pharetra augue. Maecenas faucibus interdum...
						</p>
					</div> <a href="#" class="blog_read">read more <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 col-sm-12">
				<div class="footer_widget footer_blog_wrapper footer_widget3 float_left">
					<h4>recent posts</h4>
					<div class="ft_blog_wrapper1">
						<div class="ft_blog_image">
							<img src="images/blg1.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="ft_blog_text">
							<p>
								<a href="#">Donec id elit non mi porta gravida </a>
							</p>
							<div class="ft_blog_date">22 april, 2019</div>
						</div>
					</div>
					<div class="ft_blog_wrapper1">
						<div class="ft_blog_image">
							<img src="images/blg3.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="ft_blog_text">
							<p>
								<a href="#">elit non mi porta  Donec id gravida </a>
							</p>
							<div class="ft_blog_date">11 april, 2019</div>
						</div>
					</div>
					<div class="ft_blog_wrapper2">
						<div class="ft_blog_image">
							<img src="images/blg2.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="ft_blog_text">
							<p>
								<a href="#">Donec id elit non elit non mi porta </a>
							</p>
							<div class="ft_blog_date">12 april, 2019</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 col-sm-12">
				<div class="footer_widget footer_useful_wrapper footer_widget2 float_left">
					<h4>get in touch</h4>
					<div class="contect_form_footer float_left">
						<input type="text" name="name" placeholder="joahn doe"><i class="fas fa-user-alt"></i>
					</div>
					<div class="contect_form_footer float_left">
						<input type="text" name="Email" placeholder="Email ID"><i class="fas fa-comment"></i>
					</div>
					<div class="contect_form_footer float_left">
						<textarea name="message" rows="4" placeholder="Your Message..."></textarea>
					</div>
					<div class="footer_btn float_left">
						<a href="#">send message</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 col-sm-12">
				<div class="footer_widget footer_contact_wrapper footer_widget2 float_left">
					<h4>contact info </h4>
					<ul>
						<li>
							<span>
								Santa Cruz
								Office:
							</span>
							<p>
								<a href="#">
									Crorpo Technologies,
									9860 Mill Road,
									Deltona, FL 32725, US
								</a>
							</p>
						</li>
						<li>
							<span>phone: </span>
							<p>+1-202-555-0175 +1-202-555-0107</p>
						</li>
						<li>
							<span>email: </span>
							<p>
								<a href="#"> crorpo@example.com</a>
								<br>
								<a href="#">
									support@example.com
								</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- st login wrapper Start -->
<div class="modal fade st_pop_form_wrapper" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="st_pop_form_heading_wrapper float_left">
				<h3>Log in</h3>
			</div>
			<div class="st_profile_input float_left">
				<input type="text" placeholder="Email / Mobile Number">
			</div>
			<div class="st_profile_input st_profile__pass_input_pop float_left">
				<input type="password" placeholder="Password">
			</div>
			<div class="st_form_pop_fp float_left">
				<h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
			</div>
			<div class="st_form_pop_login_btn float_left">
				<a href="">LOGIN</a>
			</div>
			<div class="st_form_pop_or_btn float_left">
				<h4>or</h4>
			</div>
			<div class="st_form_pop_facebook_btn float_left">
				<a href="#"><i class="fab fa-facebook-f"></i> Connect with Facebook</a>
			</div>
			<div class="st_form_pop_gmail_btn float_left">
				<a href="#"><i class="fab fa-google-plus-g"></i> Connect with Google</a>
			</div>
			<div class="st_form_pop_signin_btn float_left">
				<h4>Don’t have an account? <a href="#" data-toggle="modal" data-target="#myModa3" target="_blank">Sign Up</a></h4>
				<h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
			</div>
		</div>
	</div>
</div>
<div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
				<h3>Forgot Password</h3>
				<p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
			</div>
			<div class="st_profile_input st_profile_input_very float_left">
				<input type="text" placeholder="Email / Mobile Number">
			</div>
			<div class="st_form_pop_fpass_btn float_left">
				<a href="#">Verify</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade st_pop_form_wrapper" id="myModa3" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="st_pop_form_heading_wrapper float_left">
				<h3>Sign Up</h3>
			</div>
			<div class="st_profile_input float_left">
				<input type="text" placeholder="Email / Mobile Number">
			</div>
			<div class="st_profile_input st_profile__pass_input_pop float_left">
				<input type="password" placeholder="Password">
			</div>
			<div class="st_form_pop_fp float_left">
				<h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
			</div>
			<div class="st_form_pop_login_btn float_left">
				<a href="">LOGIN</a>
			</div>
			<div class="st_form_pop_or_btn float_left">
				<h4>or</h4>
			</div>
			<div class="st_form_pop_facebook_btn float_left">
				<a href="#"><i class="fab fa-facebook-f"></i> Connect with Facebook</a>
			</div>
			<div class="st_form_pop_gmail_btn float_left">
				<a href="#"><i class="fab fa-google-plus-g"></i> Connect with Google</a>
			</div>
			<div class="st_form_pop_signin_btn st_form_pop_signin_btn_signup float_left">
				<h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
			</div>
		</div>
	</div>
</div>
