@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CA_Proj.Models.PurchaseProduct>
@{
    ViewData["Title"] = "Cart";
    var subTotal = 0.0;
    var num = 0.0;
    var discount = 0.0;
    if (ViewData["Discount"] != null)
    {
        discount = ViewData["Discount"].Equals(-1) ? 0.0 : double.Parse(ViewData["Discount"].ToString() ?? string.Empty);
    }
}

<script>
	@*if (@ViewData["Discount"] == null || @ViewData["Discount"] === -1) {
		alert("Invalid Coupon.");
	}*@

	var sub;
	var subAfter;
	var discount;
	var subLow;
	var discount_num=@discount
	var cart_form;

	function mychange(productName,price,input)
	{
		var quantity_product = document.getElementById(input);
        var total_product = document.getElementById(productName);
        if (quantity_product.value < 0) quantity_product.value = 0;
        var num = quantity_product.value;
        var pre = quantity_product.dataset.pre;
		quantity_product.dataset.pre=num;
        total_product.innerHTML = (num * price).toFixed(2);
        var minus = (pre - num) * price;
        sub.innerHTML -= minus;
		subLow.innerHTML= (subLow.innerHTML-minus).toFixed(2);
		discount.innerHTML = (discount.innerHTML-discount_num*minus).toFixed(2);
        subAfter.innerHTML = (subAfter.innerHTML-(1-discount_num)*minus).toFixed(2);
	}

	function delete_product(head_productName,productName,price,input)
	{
        var quantity_product = document.getElementById(input);
        quantity_product.value = 0;
		//console.log("removing: " + productName);
        
        mychange(productName, price, input);
		var div=document.getElementById(head_productName);
        div.parentNode.removeChild(div);
}

</script>

<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<p>Cart</p>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="ck_title_cont float_left">
					<ul>
						<li>
							@Html.ActionLink("Home", "Index", "Product")&nbsp; >
						</li>
						<li>Cart</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ck title wrapper End -->
<!--cart product wrapper Wrapper Start -->
<div class="cart_product_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-12">
				<div class="btc_shop_single_prod_right_section">
					@if (Model == null || !Model.Any())
					{
						<h3>Your Cart Is Empty, Please Go Purchase More!</h3>
					}
					else
					{
						<h3>Your Cart Products (@Model.Count())</h3>
					}
				</div>
				<div class="table-responsive cart-calculations">
					<table class="table">
						<thead class="cart_table_heading">
							<tr>
								<th>item</th>
								<th>product</th>
								<th>&nbsp;</th>
								<th>price</th>
								<th>Quantity</th>
								<th>Total price</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@{
								var count = 1;
								if (Model != null)
								{
																								<form id="change_the_cart" asp-action="changeCart" asp-controller="Cart">
																																@foreach (var item in Model)

                                                                                                                                {
                                                                                                                                    var product = item.Product;
                                                                                                                                    var totalPrice = (double)item.ProductQuantity * product.ProductPrice;
                                                                                                                                    subTotal = subTotal + totalPrice;
                                                                                                                                    num = num + item.ProductQuantity;
																																																	<tr  id="head_@product.ProductName">
																																																		<td>@count</td>
																																																		<td>
																																																			<div class="table_cart_img">
																																																				<figure>
																																																					<img src=@product.ProductImage alt="" />
																																																				</figure>
																																																			</div>
																																																			<div class="table_cart_cntnt">
																																																				<h1>@product.ProductName</h1>
																																																				@*<p>Chocobar</p>*@
																																																			</div>
																																																		</td>
																																																		<td></td>
																																																		<td class="cart_page_price">$@product.ProductPrice</td>
																																																		<td>
																																																			<input name=@product.ProductName value=@item.ProductQuantity type="number" onchange="    mychange('total_@product.ProductName','@product.ProductPrice','quantity_@product.ProductName');" data-pre="@item.ProductQuantity" id="quantity_@product.ProductName"/>
																																																		</td>
																																																		<td class="cart_page_totl" id="total_@product.ProductName" >$@totalPrice</td>
																																																		<td>
																																																			<a href="#" onclick="    delete_product('head_@product.ProductName','total_@product.ProductName','@product.ProductPrice','quantity_@product.ProductName');">
																																																				<i class="fa fa-trash"></i>
																																																			</a>
																																																		</td>
																																																	</tr>
																										
										count++;
									}
																																																<tr>
																																																	<td></td>
																																																	<td class="shop_car_btn_wrapper">
																																																		<ul>
																																																			<li>
																																																				<a asp-area="" asp-action="Index" asp-controller="Product">Continue Shopping</a>
																																																			</li>
																																																		</ul>
																																																	</td>
																																																	<td></td>
																																																	<td></td>
																																																	<td></td>
																																																	<td class="cart_btn_cntnt" >
																																																		Sub Total : <span id="SubTotal_low">@(Math.Round(subTotal,2))</span>
																																																	</td>
																																																	<td></td>
																																																</tr>
																																																<button id="the button">save your choice(s)</button>
																																																</form>
								}
								
							}
						</tbody>
					</table>
				</div>
				<div class="estimate_shiping_Wrapper_cntnt estimate_shiping_Wrapper_cntnt_2">
					<div class="btc_shop_single_prod_right_section">
						<h1>Have a coupon? Enter code here!</h1>
						<div class="lr_nl_form_wrapper">
							<form asp-area="" asp-action="Discount" asp-controller="Cart">
								<input type="text" name="coupon" placeholder="Type Your Code">
								<button type="submit">apply</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-12">
				<div class="shipping_Wrapper">
					<div class="btc_shop_single_prod_right_section">
						<h1>Check your price:  </h1>
					</div>
					<div class="estimate_shiping_Wrapper_cntnt estimate_shiping_Wrapper_repsnse">
						<table class="table">
							<tbody>
								<tr>
									<th>Sub Total :</th>
									<td>
										<span class="price" id="SubTotal">@(Math.Round(subTotal,2))</span>
									</td>
								</tr>
								<tr>
									<th>Discount:</th>
									<td>
										<span class="price" id="Discount">@(Math.Round(subTotal*discount,2))</span>
									</td>
								</tr>
								<tr>
									<th class="cart_btn_cntnt" >Sub Total :</th>
									<td>
										<span class="cart_btn_cntnt_clr" id="SubTotal_After_Discount">@(Math.Round(subTotal-discount*subTotal,2))</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="shop_btn_wrapper_shipping">
							<ul>
                                <li>
                                    @{
                                        if (@ViewBag.Username != null)
                                        {
                                            <a href="/Cart/CheckOut">checkout</a>
                                        }
                                        else
                                        {
                                            <a href="#" data-toggle="modal" data-target="#CheckModal">Checkout</a>
                                        }
                                    }
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade st_pop_form_wrapper" id="CheckModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="st_pop_form_heading_wrapper float_left">
				<h3>Checkout</h3>
			</div>
			<form action="/Login/Login2" method="POST">
				<div class="st_profile_input float_left">
					<input type="text" id="loginUsername" name="username" placeholder="Username">
				</div>
				<div class="st_profile_input st_profile__pass_input_pop float_left">
					<input type="password" id="loginPassword" name="password" placeholder="Password">
				</div>
				<div class="st_form_pop_login_btn float_left">
					<input type="submit" value="Login" />
				</div>
			</form>
			@*<div class="st_form_pop_signin_btn float_left">
				<h4>Don’t have an account? <a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Sign Up</a></h4>
				<h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
				</div>*@
		</div>
	</div>
</div>
<script>
	sub=document.getElementById("SubTotal");
	subAfter = document.getElementById("SubTotal_After_Discount");
	subLow = document.getElementById("SubTotal_low");
	discount = document.getElementById("Discount");
cart_form = document.getElementById("change_the_cart");
window.onbeforeunload = function() {
	if (event.clientX > document.body.clientWidth && event.clientY < 0 || event.altKey)
		cart_form.submit();
};

</script>
